body {
  background-color: #121212;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 100px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;

}

button:hover {
  background-color: hsl(251, 92%, 39%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
 
}

/* Gruppe für Login/Registrieren */
.right-buttons {
  display: flex;
  gap: 10px;
}

.icon-btn {
  background:#3a3a3a;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}

.icon-btn:hover {
  background: hsl(0, 71%, 45%);
  transform: scale(1.05);
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.register-form input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.register-form button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.register-form button:hover {
  background-color: #45a049;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.login-form input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.login-form button {
  background-color: #2196f3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #1e88e5;
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 320px;
  margin: 100px auto;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.settings-form h3 {
  text-align: center;
  margin-bottom: 10px;
}

.settings-form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.settings-form select,
.settings-form input[type="range"],
.settings-form input[type="checkbox"] {
  margin-left: 10px;
}

.settings-form button {
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.settings-form button:hover {
  background-color: #45a049;
}
